<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
      </li>
      <% if (isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add product</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/admin/product-list' ? 'active' : '' %>" href="/admin/product-list">Admin product
          list</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/checkout' ? 'active' : '' %>" href="/checkout">Checkout</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
      </li>
      <% } %>
    </ul>
    <% if (!isAuthenticated) { %>
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Sign Up</a>
      </li>
    </ul>
    <% } else { %>
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
    <% } %>
  </nav>
</header>