<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/order.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (orders.length <= 0) { %>
    <h1>Nothing there!</h1>
    <% } else { %>
    <% orders.forEach(order => { %>
    <div class="orders-list">
      <ol>
        <li>
          <ul>
            <% order.Products.forEach(product => { %>
            <li><%= product.title %> (<%= product.qty || product.OrderItem.qty %>). Price: <%= product.price %>$</li>
            <% }); %>
            <h5 style="display: inline;">Total price: <%= order.totalPrice %>$</h5>
            <div><a href="/invoice/<%= order.id || order._id %>">Get Invoice</a></div>
          </ul>
        </li>
      </ol>
    </div>
    <% }); %>
    <% } %>
  </main>
</body>
<%- include('../includes/end.ejs') %>